body   {  
	font-family: sans-serif; 
  background-color: #F9F9F9; 
  overflow-x: hidden;
}  

/* Nav Bar Styles */
.navigationBar{
  height: 500px;
}

.banner{
  position: relative;
}

.bannerImage img{
  position: absolute;
  max-width: 100vw;
  width: 100vw;
  height: 480px;
  z-index: 0;
}

.menuItems{
  position: relative;
  flex-wrap: wrap;
  top: 0px;
  z-index: 1;
}

.navLogo{
  margin-top: 12px;
  padding-left: 52px;
  height: 70px;
  width: 200px;
}

.menuItems{     
	display: flex;  
  justify-content: space-between; 
  z-index: 2;
}  

.menuItems div:not(:first-child) {
  margin-top: 32px;
}

.menuItems div a {  
	color: blue;  
	text-decoration: none; 
  padding: 0 20px 0 20px;
}  

.bannerDetails{
  position: relative;
  display: flex;
  top: 80px;
  left: 62px;
  justify-content: space-between; 
}

.bannerDetails img{
  margin: 0px 140px 12px 0px;
}


.bannerDetails h3{
  padding-top: 32px;
  font-size: 28px;
  line-height: 1.5em;
}

.bannerDetails p, h3{
  color: white;
}



/* Nav Bar Styles */

/* Explore Styles */

.exploreSection{
  margin: 16px;
}

.exploreHeading{
  display: grid; 
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  margin: 16px 0px 36px 0px;
}

.exploreHeading div img{
  height: 120px;
  width: 80%;
  opacity: 0.8;
}

.exploreHeading div h3{
  font-size: 28px;
  line-height: 1.5em;
  color: black;
}

.explore{
  height: 360px;
  width: 320px;
  background-color: white;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.explore img{
  height: 200px;
  width: 300px;
  border-radius: 14px;
  margin: 10px 0px 6px 10px;
}

.explore h4{
  color: black;
  margin-left: 16px;
}

.explore p{
  color: #919999;
  margin-left: 16px;
}

.placeRating{
  backdrop-filter: blur(6px);
  display: flex;
  position: absolute;
  margin: 10px 0px 0px 240px;
  z-index: 1;
  border-top-right-radius: 14px;
}

.placeImage img{
  position: absolute;
  z-index: 0;
}

.placeImage p{
 color: white;
 padding-right: 10px;
}

.placeImage{
  height: 200px;
}

.placeRating img{
  height: 24px;
  width: 24px;
}
/* Explore Styles */


/* Subscribe Section Styles */

.sectionSubscribe{
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.sectionSubscribe div{
  text-align: center;
  background-color: #FFE5D1;
  height: 400px;
  width: 60%;
  display: table-cell;
  justify-content: center;
  vertical-align: middle;
  border-radius: 18px;
}

.sectionSubscribe div h1{
  font-size: 24px;
  line-height: 1.5em;
}

.sectionSubscribe div p{
  margin-bottom: 42px;
}

.button {
  background-image: linear-gradient(to right, #DF610C , #FB9746);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

/* Subscribe Section Styles */


/* Footer Styles */
  .footerPrimary{
   display: grid; 
   grid-template-columns: 30% 17% 17% 17% 17%;
   grid-template-rows: 100%;
   grid-column-gap: 10px;
   margin: 16px 0px 36px 0px;
  }

  .footerPrimary>:first-child {
    margin: 0px 16px 0px 16px;
  }

  footer li:not(:first-child) {
    margin-top: 0.8em;
  }

  .footerPrimary ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .footerLogo{
    padding-left: 52px;
    height: 75px;
    width: 200px;
  }
 
  .copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: right;
  }
  .footer-link{
    text-decoration: none;
    color:#fff;
  }

/*footer*/  
